<!--slider area start-->
<section class="slider_section mb-63">
	<div class="slider_area slick_slider_activation" data-slick='{"slidesToShow": 1,"slidesToScroll": 1,"arrows": true,"dots": true,"autoplay": false,"speed": 300,"infinite": true}'>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span>Lookbook</span>
							<h1>fashion trend for autum girls with vibes</h1>
							<p>We love seeing how our Aslam wearers like
								<br>
								to wear their Norda</p>
							<a class="btn btn-primary" href="shop.html">Explore Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span>Lookbook</span>
							<h1>fashion trend for autum girls with vibes</h1>
							<p>We love seeing how our Aslam wearers like
								<br>
								to wear their Norda</p>
							<a class="btn btn-primary" href="shop.html">Explore Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span>Lookbook</span>
							<h1>fashion trend for autum girls with vibes</h1>
							<p>We love seeing how our Aslam wearers like
								<br>
								to wear their Norda</p>
							<a class="btn btn-primary" href="shop.html">Explore Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--slider area end-->

<!--shipping section start-->
<section class="shipping_section mb-102">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="shipping_inner d-flex justify-content-between">
					<div class="single_shipping d-flex align-items-center">
						<div class="shipping_icon">
							<i class="icon-cursor icons"></i>
						</div>
						<div class="shipping_text">
							<h3>Free Shipping</h3>
							<p>Orders over $100</p>
						</div>
					</div>
					<div class="single_shipping d-flex align-items-center">
						<div class="shipping_icon">
							<i class="icon-reload icons"></i>
						</div>
						<div class="shipping_text">
							<h3>Free Returns</h3>
							<p>Within 30 days</p>
						</div>
					</div>
					<div class="single_shipping d-flex align-items-center">
						<div class="shipping_icon">
							<i class="icon-lock icons"></i>
						</div>
						<div class="shipping_text">
							<h3>100% Payment Secure</h3>
							<p>Payment Online</p>
						</div>
					</div>
					<div class="single_shipping d-flex align-items-center">
						<div class="shipping_icon">
							<i class="icon-tag icons"></i>
						</div>
						<div class="shipping_text">
							<h3>Affordable Price</h3>
							<p>Guaranteed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--shipping section end-->
