<!--slider area start-->
<section class="slider_section">
	<div class="slider_area slick_slider_activation" data-slick='{"slidesToShow": 1,"slidesToScroll": 1,"arrows": true,"dots": true,"autoplay": false,"speed": 300,"infinite": true}'>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span><i class="fab fa-autoprefixer"> Market</i> </span>
							<h3>Tout le monde y voit son intérêt</h3>
							<a class="btn btn-primary" href="shop.html">Découvrir </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span><i class="fab fa-autoprefixer"> Market</i> </span>
							<h3>Ay offre yû dakk nexx</h3>
							<a class="btn btn-primary" href="shop.html">Découvrir</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="slider_text">
							<span><i class="fab fa-autoprefixer"> Market</i></span>
							<h3>Devenez un vendeur professionnel</h3>
							<a class="btn btn-primary" href="shop.html">Découvrir</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--slider area end-->

<!--shipping section start-->

<!--shipping section end-->
