<!-- The Modal -->
<div class="modal" id="modalPublier">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container col-8 mx-auto">
          <div class="text-center">
            <div class="nav price-tabs" role="tablist">
              <a class="nav-link active">Que vendez vous ?</a>
            </div>
          </div>
          <div class="tab-content wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div role="tabpanel" class="tab-pane fade show active">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-30">
                  <div class="price-item text-center">
                    <a href="">
                      <div class="price-top">
                        <h4>Autres</h4>
                        <h3 class="mb-0">
                          <div>
                            <i class="fas fa-tv"></i>
                            <i class="fas fa-shirt"></i>
                            <i class="fas fa-couch"></i>
                            <i class="fas fa-basketball"></i>
                            <i class="fab fa-playstation"></i>
                          </div>
                          <div>
                            <i class="fas fa-handshake"></i>
                            <i class="fas fa-child"></i>
                            <i class="fas fa-hat-cowboy-side"></i>
                            <i class="fas fa-user-graduate"></i>
                            <i class="fas fa-plus"></i>
                          </div>
                        </h3>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                  <div class="price-item text-center popular">
                    <a href="">
                      <div class="price-top">
                        <h4>Voitures</h4>
                        <h2 class="mb-0"><i class="fas fa-car text-info"></i></h2>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-30">
                  <div class="price-item text-center">
                    <a href="">
                      <div class="price-top">
                        <h4>Immobilier</h4>
                        <h2 class="mb-0"><i class="fas fa-house-chimney"></i></h2>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center mt-2" style="font-style: italic;">
              <div class="fs-3 text fw-lighter text-center">Ou</div>
              <h3 class="text-center">Vous êtes un vendeur professionnel</h3>
              <stong class="text-center">Ouvrez une boutique</stong>
              <a href="" class="btn btn-outline-info col-2 mx-auto">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<style>
  /* ===== PRICING PAGE ===== */
  .price-tabs {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px 0 rgba(39, 39, 39, 0.1);
    box-shadow: 0 5px 20px 0 rgba(39, 39, 39, 0.1);
    display: inline-block;
    padding: 7px;
    border-radius: 40px;
    border: 1px solid #00b5ec;
  }
  
  @media (min-width: 768px) {
    .price-tabs {
      margin-bottom: 10px;
    }
  }
  
  .price-tabs .nav-link {
    color: #6a7964;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 12px 35px;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .price-tabs .nav-link {
      padding: 12px 40px;
    }
  }
  
  .price-tabs .nav-link.active {
    background-color: #00b5ec;
    color: #fff;
  }
  
  .price-item {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .price-item {
      margin: 0 20px;
      padding-top: 20px;
    }
  }
  
  .price-item .price-top {
    -webkit-box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    box-shadow: 0 5px 30px 0 rgba(39, 39, 39, 0.15);
    padding: 50px 0 25px;
    background-color: #00b5ec;
    border-radius: 10px;
    position: relative;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .price-item .price-top {
      margin: 0 -20px;
      border-radius: 20px;
    }
  }
  
  .price-item .price-top:after {
    height: 50px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #00b5ec;
    position: absolute;
    content: '';
    left: 0;
    bottom: -17px;
    z-index: -1;
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    -webkit-box-shadow: 0 5px 10px 0 rgba(113, 113, 113, 0.15);
    box-shadow: 0 5px 10px 0 rgba(113, 113, 113, 0.15);
  }
  
  @media (min-width: 768px) {
    .price-item .price-top:after {
      border-radius: 0 0 20px 20px;
    }
  }
  
  .price-item .price-top * {
    color: #fff;
  }
  
  .price-item .price-top h2 {
    font-weight: 700;
  }
  
  .popular {
    background-color: #00b5ec;
  }
  
  .popular .price-top {
    background-color: #fff;
  }
  
  .popular .price-top:after {
    background-color: #fff;
  }
  
  .popular .price-top h4 {
    color: #101f41;
  }
  
  .popular .price-top h2,
  .popular .price-top span,
  .popular .price-top sup {
    color: #00b5ec;
  }
  
  .popular .price-content ul *,
  .popular .price-content ul .zmdi-close,
  .popular .price-content ul .zmdi-check {
    color: #fff !important;
  }
</style>
