<div {{ attributes }} class="m-4">
  <input type="search" name="query" value="{{ query }}" data-action="live#update" />

  {% for annonce in this.annonces %}
    <li>{{ annonce.libelleAnnonce }}</li>
  {% endfor %}
</div>
